.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
  width: 100px;
  height: 180px;
}

.selectable-card {
  cursor: pointer;
}

.selectable-card:hover {
  box-shadow: 0px 4px 8px rgba(0,0,0,0.6);
}

.selectable-card:active {
  box-shadow: 0px 4px 8px rgba(0,0,0,0.6);
}

.card svg {
  margin: 5px;
  width: 30px;
  height: 30px;
}

.top-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 50px;
}

.game {
  width: 100%;
  padding: 10px;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

button.export {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 1px;
  background-color: #e9f0ff;
  cursor: pointer;
}

button.export:hover {
  background-color: #d9e0ff;
  cursor: pointer;
}